<div class="music box soundcloud" data-id="{{ id }}">
  <div class="thumbnail">
    <img src="{{ icon }}">
  </div>

  <div class="caption">
    <span class="title" title="{{ title }}">{{ title }}</span>
    <span class="artist" title="{{ artist }}">{{ artist }}</span>
  </div>

  <div class="right options-toggler">
    {{g 'option-vertical'}}
  </div>

  <div class="download_bar">
    <div class="progression"></div>
  </div>
</div>
