<div class="playlist soundcloud" data-id="{{ id }}">
  <div class="cover">
    <img src="{{ icon }}" class="artwork">
  </div>

  <div class="items">
    <h2>{{ title }} <small>({{ human_time }})</small></h2>
    <h3>{{ artist }}</h3>

    <ul>
      {{#each items}}
        {{playlist_item this}}
      {{/each}}
    </ul>
  </div>
</div>
