<h2>{{t 'meta.options.download'}}</h2>

<form data-service="soundcloud">
  <div class="left">
    <img src="{{ icon }}">

    <a href="#" class="picture flat_button">
      {{g 'picture'}} &nbsp; {{t 'meta.pick_picture'}}
    </a>
  </div>

  <div class="right">
    <label>{{t 'meta.title'}} :</label>
    <input type="text" name="title" value="{{ title }}">

    <label>{{t 'meta.artist'}} :</label>
    <input type="text" name="artist" value="{{a title artist}}">

    <label>{{t 'meta.genre'}} :</label>
    <input type="text" name="genre" value="{{ genre }}">

    <input type="hidden" name="id" value="{{ id }}">

    <input type="submit" class="button download" value="{{t 'meta.options.download'}}">
  </div>
</form>

<div class="clearer"></div>
