
  {{!-- {{soundcloud_music_box random_track}} --}}

  {{!-- {{soundcloud_playlist playlist}} --}}

  {{!-- <div class="clearer"></div> --}}

  {{!-- {{#each youtube_tracks}} --}}
    {{!-- {{youtube_video_box this}} --}}
  {{!-- {{/each}} --}}

  {{!-- <div class="clearer"></div> --}}

{{!--   <div class="box link">
    <div class="icon">{{g 'tag'}}</div>

    <div class="text">
      <h3>Tagguer vos musiques</h3>

      <p>Tagguer vos dossiers, musiques, etc.</p>
    </div>
  </div>

  <div class="box link">
    <div class="icon">{{g 'cog'}}</div>

    <div class="text">
      <h3>Configuration</h3>

      <p>Définissez vos paramètres personnels</p>
    </div>
  </div>
 --}}
