<div class="{{ service }} {{ kind }} box" data-id="{{ id }}">
  <div class="thumbnail">
    <img src="{{ icon }}">
  </div>

  <div class="caption">
    <span class="title" title="{{ title }}">{{ title }}</span>
    {{#if isLocal}}
      <a href="local/artist" class="artist" data-id="{{ artist }}" title="{{ artist }}">
        {{ artist }}
      </a>
    {{else}}
      <span class="artist" title="{{ artist }}">{{ artist }}</span>
    {{/if}}
  </div>

  <div class="options-toggler">
    {{g 'option-horizontal'}}
  </div>
</div>
