<div class="banner">
  <div class="showcase">
    <div class="artist-thumbnail">
      <div class="thumbnail">
        <div class="picker" data-picker="picture" data-service="local"
             data-function="copy" data-id="{{ name }}">
          {{g 'camera'}}
        </div>

        {{#if picture}}
          <img src="{{ picture }}">
        {{else}}
          {{g 'user'}}
        {{/if}}
      </div>
    </div>

    <div class="information">
      <h2>{{ name }}</h2>
      <input type="text" name="name" value="{{ name }}" class="hidden">
      <h3>{{pluralize albums.length 'album'}} / {{pluralize singles.length 'single'}}</h3>
    </div>
  </div>

  <div class="clearer"></div>
</div>

{{#if albums}}
  <h1>{{ titleize ( pluralize 'album') }}</h1>

  {{#each albums}}
    {{set_box this}}
  {{/each}}
{{/if}}

{{#if singles}}
  <h1>{{ titleize (pluralize 'single') }}</h1>

  {{#each singles}}
    {{media_box this}}
  {{/each}}
{{/if}}
