{{#each artists}}
  <a href="local/artist" class="artist-thumbnail" data-id="{{ name }}">
    <div class="thumbnail">
      {{#if picture}}
        <img src="{{ picture }}">
      {{else}}
        {{g 'user'}}
      {{/if}}
    </div>

    <span class="title">{{ name }}</span>
  </a>
{{/each}}

<div class="clearer"></div>
