<div class="banner">
  <div class="showcase">
    <div class="artist-thumbnail">
      <div class="thumbnail">
        {{#if picture}}
          <img src="{{ picture }}">
        {{else}}
          {{g 'user'}}
        {{/if}}
      </div>
    </div>

    <div class="information">
      <h2>{{ name }}</h2>
      <h3>{{ albums.length }} albums / {{ singles.length }} singles</h3>
    </div>
  </div>

  <div class="clearer"></div>
</div>

{{#if albums}}
  <h1>{{t 'local.files.albums'}}</h2>

  {{#each albums}}
    {{set_box this}}
  {{/each}}
{{/if}}

{{#if singles}}
  <h1>{{t 'local.files.singles'}}</h1>

  {{#each singles}}
    {{media_box this}}
  {{/each}}
{{/if}}
