<div class="navbar">
  <a href="#" class="active">
    {{g 'list-alt'}} {{t 'local.listen_later.menu.all'}}
  </a>
  <a href="#">
    {{g 'cloud'}} {{t 'local.listen_later.menu.soundcloud'}}
  </a>
  <a href="#">
    {{g 'film'}} {{t 'local.listen_later.menu.youtube'}}
  </a>
  <a href="#">
    {{g 'globe'}} {{t 'local.listen_later.menu.other'}}
  </a>
</div>

<div class="basic-box search-bar">
  <form>
    <span><input type="text" name="address" placeholder="URL ou titre..."></span>
    <input type="button" class="button add" value="+ {{t 'local.listen_later.add'}}">
  </form>
</div>
