{{search_results_menu 'local'}}

{{#if albums}}
  <h1>{{t 'local.files_menus.albums'}}</h1>

  {{#each albums}}
    {{set_box this}}
  {{/each}}

  <div class="clearer"></div>
{{/if}}

{{#if singles}}
  <h1>{{t 'local.files_menus.singles'}}</h1>

  {{#each singles}}
    {{media_box this}}
  {{/each}}
{{/if}}
