{{#if artists}}
  <h1>{{ titleize ( pluralize 'artist' ) }}</h1>
  {{#each artists}}
    <a href="local/artist" class="artist-thumbnail" data-id="{{ name }}">
      <div class="thumbnail">
        {{#if picture}}
          <img src="{{ picture }}">
        {{else}}
          {{g 'user'}}
        {{/if}}
      </div>

      <span class="title">{{ name }}</span>
    </a>
  {{/each}}
{{/if}}

<div class="clearer"></div>

{{#if albums}}
  <h1>{{ titleize ( pluralize 'album') }}</h1>

  {{#each albums}}
    {{set_box this}}
  {{/each}}

  <div class="clearer"></div>
{{/if}}

{{#if singles}}
  <h1>{{ titleize ( pluralize 'single') }}</h1>

  {{#each singles}}
    {{media_box this}}
  {{/each}}
{{/if}}
