<a href="youtube/playlist_items" class="playlist-thumbnail youtube" data-id="{{ id }}">
  <img src="{{ icon }}">

  <div class="legend">
    <h3>{{ title }}</h3>
    <h4>{{g 'film'}} {{ items_count }} {{t 'meta.videos'}}</h4>
  </div>
</a>
