<div class="set youtube" data-id="{{ id }}">
  <div class="information">
    <img src="{{ icon }}">

    <div class="legend">
      <h2>{{ title }}</h2>
      <h3>{{pluralize items_count 'video'}}</h3>
    </div>
  </div>

  <div class="items">
    <ul>
      {{#each items}}
        {{set_item this}}
      {{/each}}
    </ul>
  </div>
</div>
