<div class="playlist youtube" data-id="{{ playlist.id }}">
  <div class="information">
    <img src="{{ playlist.icon }}">

    <div class="legend">
      <h2>{{ playlist.title }}</h2>
      <h3>{{ playlist.items_count }} {{t 'meta.videos'}}</h3>
    </div>
  </div>

  <div class="items">
    <ul>
      {{#each items}}
        {{playlist_item this}}
      {{/each}}
    </ul>
  </div>
</div>
