<h2>{{t 'local.conflict.title'}}</h2>

<form>
  <p>{{interpolate 'local.conflict.reason'}}</p>

  <p>{{interpolate 'local.conflict.action'}}</p>

  <hr>

  <input type="submit" class="button" value="{{t 'merge'}}">
  <input type="reset" class="button reset" value="{{t 'cancel'}}">
</form>
