<div class="music box local" data-id="{{ id }}">
  <div class="thumbnail">
    <img src="{{ icon }}">
  </div>

  <div class="caption">
    <span class="title" title="{{ title }}">{{ title }}</span>
    <span class="artist" title="{{ artist }}">{{ artist }}&nbsp;</span>
  </div>

  <div class="right options-toggler">
    {{g 'option-vertical'}}
  </div>
</div>
