<h2>{{t 'tag'}}</h2>

<form data-service="local">
  <div class="left">
    <img src="{{ icon }}">

    <a href="#" class="flat_button" data-field="icon" data-picker="picture">
      {{g 'picture'}} &nbsp; {{t 'pick_picture'}}
    </a>

    <input type="hidden" name="icon" value="">
  </div>

  <div class="right">
    <label>{{titleize ( t 'title' )}} :</label>
    <input type="text" name="title" value="{{ title }}">

    <label>{{titleize ( t 'artist' )}} :</label>
    <input type="text" name="artist" value="{{ artist }}">

    <label>{{titleize ( t 'genre' )}} :</label>
    <input type="text" name="genre" value="{{ genre }}">

    <label>{{titleize ( t 'album' )}} :</label>
    <input type="text" name="album" value="{{ album }}">

    <input type="hidden" name="id" value="{{ id }}">

  </div>

  <div class="clearer"></div>
  <hr>

  <input type="submit" class="button tag" value="{{t 'tag'}}">
</form>
