<h2>{{t 'meta.options.add_to_playlist'}}</h2>

<nav class="navbar">
  {{#if soundcloud}}
    <a href="#" class="active" data-service="soundcloud">{{g 'cloud'}} {{t 'sc.name'}}</a>
  {{else if youtube}}
    <a href="#" class="active" data-service="youtube">{{g 'film'}}  {{t 'yt.name'}}</a>
  {{/if}}

  {{#unless playlists.remote}}
    <a href="#" class="active" data-service="local">{{g 'music'}} {{t 'local.name'}}</a>
  {{else}}
    <a href="#" data-service="local">{{g 'music'}} {{t 'local.name'}}</a>
  {{/unless}}
</nav>

<form>
  <div class="items">
    {{#if playlists.remote}}
      <ul>
        {{#each playlists.remote.collection}}
          {{playlist_option this}}
        {{/each}}
      </ul>

      <ul class="hidden">
    {{else}}
      <ul>
    {{/if}}

      {{#each playlists.local}}
        {{playlist_option this}}
      {{/each}}
    </ul>
  </div>

  <div class="new_item">
    <input type="text" id="new_playlist" placeholder="Nouvelle playlist...">
  </div>

  <input type="hidden" name="record-id" value="{{ id }}">
  <input type="submit" class="button add_to_playlist" value="{{t 'meta.add'}}">
</form>
