<h2>{{t 'meta.options.add_to_playlist'}}</h2>

<nav class="navbar">
  {{#if soundcloud}}
    <a href="#" class="active">{{g 'cloud'}} {{t 'sc.name'}}</a>
  {{else if youtube}}
    <a href="#" class="active">{{g 'film'}}  {{t 'yt.name'}}</a>
  {{/if}}

  {{#if local}}
    <a href="#" class="active">{{g 'music'}} {{t 'local.name'}}</a>
  {{else}}
    <a href="#">{{g 'music'}} {{t 'local.name'}}</a>
  {{/if}}
</nav>

<form>
  <div class="items">
    {{#if soundcloud}}
      <ul>
        {{#each playlists.soundcloud.collection}}
          {{playlist_option this}}
        {{/each}}
      </ul>
    {{/if}}

    {{#if youtube}}
      <ul>
        {{#each playlists.youtube.items}}
          {{playlist_option this}}
        {{/each}}
      </ul>
    {{/if}}

    {{#if local}}
      <ul>
    {{else}}
      <ul class="hidden">
    {{/if}}
      {{#each playlists.local}}
        {{playlist_option this}}
      {{/each}}
    </ul>
  </div>

  <input type="hidden" name="record-id" value="{{ id }}">
  <input type="submit" class="button add_to_playlist" value="{{t 'meta.add'}}">
</form>
