<li class="{{ klass }} {{ service }}" data-id="{{ id }}">
  <div class="thumbnail">
    <img src="{{ icon }}">
  </div>

  <div class="right">
    {{g 'option-vertical'}}
    {{ human_time }}
  </div>

  <span>{{ title }}</span>
</li>
