<li class="{{ klass }} {{ service }}">
  <div class="thumbnail">
    <img src="{{ icon }}">
  </div>

  <input type="checkbox" value="{{ id }}" data-service="{{ service }}">
  <label>{{ title }}</label>
</li>
