<li class="{{ klass }} {{ service }}" data-id="{{ id }}">
  <div class="thumbnail">
    <img src="{{ icon }}">
  </div>

  <div class="right">
    <div class="options-toggler">
      {{g 'option-horizontal'}}
    </div>

    {{ human_time }}
  </div>

  <span>{{ title }}</span>
</li>
