<li class="{{ media }} {{ service }}" data-id="{{ id }}">
  <div class="thumbnail">
  {{#if isSoundCloud}}
    <img src="{{size icon 'badge'}}">
  {{else}}
    <img src="{{ icon }}">
  {{/if}}
  </div>

  <div class="right">
    <div class="options-toggler">
      {{g 'option-horizontal'}}
    </div>

    {{ human_time }}
  </div>

  <span class="title" title="{{ title }}">{{ title }}</span>
</li>
