<div class="search-form hidden">
  <div class="left">{{g 'chevron-left'}}</div>
  <div class="right">{{g 'plus'}}</div>

  <input type="text" placeholder="Rechercher...">
</div>

<div class="search-options hidden">
  <h5>{{t 'meta.search.on'}}</h5>

  <input type="checkbox" name="soundcloud"> {{t 'sc.name'}}<br>
  <input type="checkbox" name="youtube"> {{t 'yt.name'}}<br>
  <input type="checkbox" name="local"> {{t 'local.name'}}

  <h5>{{t 'meta.search.syntax'}}</h5>

  <ul>
    <li><code>random</code></li>
    <li><code>#genre</code></li>
    <li><code>@artist</code></li>
  </ul>
</div>
