<div class="search-form hidden">
  <div class="left">{{g 'chevron-left'}}</div>
  <div class="right">{{g 'plus'}}</div>

  <input type="text" placeholder="Rechercher...">
</div>

<div class="search-options hidden">
  <h5>{{t 'meta.search.source'}}</h5>

  <input type="radio" name="source" value="local" id="local" checked="checked">
  <label for="local">{{t 'meta.search.in_your_collection'}}</label>

  <input type="radio" name="source" value="internet" id="internet">
  <label for="internet">{{t 'meta.search.on_internet'}}</label>
</div>
