<div class="search-form hidden">
  <div class="left">{{g 'chevron-left'}}</div>
  <div class="right">{{g 'plus'}}</div>

  <input type="text" placeholder="Rechercher...">
</div>

<div class="search-options hidden">
  <h5>{{t 'meta.search.on'}}</h5>

  <div class="switches">
    <div class="switch-container">
      <div class="switch off soundcloud"></div>
      <div class="switch-border"></div>
      <div class="switch on soundcloud"></div>
      <input type="hidden" name="soundcloud" value="0">
    </div>

    <div class="switch-container">
      <div class="switch off youtube"></div>
      <div class="switch-border"></div>
      <div class="switch on youtube"></div>
      <input type="hidden" name="youtube" value="0">
    </div>

    <div class="switch-container">
      <div class="switch off local"></div>
      <div class="switch-border"></div>
      <div class="switch on local"></div>
      <input type="hidden" name="local" value="0">
    </div>
  </div>

  <h5>{{t 'meta.search.source'}}</h5>

  <input type="radio" name="source" value="local" id="local" checked="checked">
  <label for="local">{{t 'meta.search.in_your_collection'}}</label>

  <input type="radio" name="source" value="internet" id="internet">
  <label for="internet">{{t 'meta.search.on_internet'}}</label>
</div>
