<div class="set {{ service }} box">
  <div class="cover">
    <img src="{{ icon }}">
  </div>

  <div class="items">
    <h2>{{ title }}</h2>

    <h3>
      {{#if isSoundCloud}}
        {{ artist }} &middot;
        <span class="count">{{ items.length }} {{t 'meta.items'}}</span>
      {{else if album}}
        {{ artist.name }} &middot;
        <span class="count">{{ items.length }} {{t 'meta.tracks'}}</span>
      {{else}}
        <span class="count">{{ items.length }} {{t 'meta.items'}}</span>
      {{/if}}
    </h3>

    <ul>
      {{#each items}}
        {{set_item this}}
      {{/each}}
    </ul>
  </div>
</div>
