<nav class="main">
  <div class="nav_items">
    <div class="icon">
      <a href="meta/index">{{g 'home'}}</a>
    </div>

    <div class="icon">
      <a href="#" class="search_icon">{{g 'search'}}</a>
    </div>

    <div class="icon">
      <a href="meta/dashboard">
        {{g 'dashboard'}}

        <div class="download_bar">
          <div class="progression"></div>
        </div>
      </a>
    </div>
  </div>

  <div class="search"></div>
</nav>

<hr>

<h3 class="soundcloud">
  {{t 'sc.name'}}
  <div class="right">{{g 'chevron-down'}}</div>
</h3>

<nav class="soundcloud nav">
  <a href="soundcloud/stream">{{g 'headphones'}} {{t 'sc.sidebar.stream'}}</a>
  <a href="soundcloud/likes">{{g 'heart'}} {{t 'sc.sidebar.likes'}}</a>
  <a href="soundcloud/playlists">{{g 'list'}} {{t 'sc.sidebar.playlists'}}</a>
</nav>

<hr>

<h3 class="youtube">
  {{t 'yt.name'}}
  <div class="right">{{g 'chevron-down'}}</div>
</h3>

<nav class="youtube nav">
  <a href="youtube/watch_later">{{g 'time'}} {{t 'yt.sidebar.watch_later'}}</a>
  <a href="youtube/history">{{g 'hourglass'}} {{t 'yt.sidebar.history'}}</a>
  <a href="youtube/playlists">{{g 'list'}} {{t 'yt.sidebar.playlists'}}</a>
</nav>

<hr>

<h3 class="local">
  {{t 'local.name'}}
  <div class="right">{{g 'chevron-down'}}</div>
</h3>

<nav class="local nav">
  <a href="local/files">{{g 'music'}} {{t 'local.sidebar.local_files'}}</a>
  <a href="local/listen_later">{{g 'time'}} {{t 'local.sidebar.listen_later'}}</a>
  <a href="local/playlists">{{g 'list'}} {{t 'local.sidebar.playlists' }}</a>
</nav>
