<div class="timeline">
  {{#each collection}}
    <div class="activity">
      <div class="icon">
        {{ icon }}
      </div>

      <div class="description">
        {{ description }}
      </div>
    </div>

    {{#if this.hasTrack}}
      {{soundcloud_music_bar this.item}}
    {{else}}
      {{set_box this.item}}
    {{/if}}
  {{else}}
    <div class="message">{{t 'sc.feedback.no_activities'}}</div>
  {{/each}}
</div>
