{{#unless token}}
  <div class="navbar">
    <a href="#" class="active">
      {{g 'headphones'}} {{t 'sc.stream_menus.home'}}
    </a>
    <a href="soundcloud/tracks">
      {{g 'music'}} {{t 'sc.stream_menus.tracks'}}
    </a>
  </div>
{{/unless}}

<div class="timeline">
  {{#if activities.collection.length}}
    {{#each activities.collection}}
      <div class="activity">
        <div class="icon">
          {{soundcloud_activity_icon type}}
        </div>

        <div class="description">
          {{soundcloud_activity_desc origin type}}
        </div>
      </div>

      {{#if this.hasTrack}}
        {{soundcloud_music_bar this.item}}
      {{else}}
        {{set_box this.item}}
      {{/if}}
    {{/each}}
  {{/if}}
</div>
