{{#unless token}}
  <div class="navbar">
    <a href="soundcloud/activities">
      {{g 'headphones'}} {{t 'sc.stream_menus.home'}}
    </a>
    <a href="#" class="active">
      {{g 'music'}} {{t 'sc.stream_menus.tracks'}}
    </a>
  </div>
{{/unless}}

{{#if tracks.collection.length}}
  {{#each tracks.collection}}
    {{media_box this}}
  {{/each}}
{{/if}}
