{{#unless token}}
  <div class="navbar">
    <a href="soundcloud/liked_playlists">
      {{g 'heart'}} {{t 'sc.playlist_menus.liked'}}
    </a>
    <a href="#" class="active">
      {{g 'user'}} {{t 'sc.playlist_menus.yours'}}
    </a>
  </div>
{{/unless}}

{{#each user_playlists.collection}}
  {{set_box this}}
{{else}}
  <div class="message">{{t 'sc.feedback.no_owned_playlists'}}</div>
{{/each}}
