{{#unless href}}
  <div class="navbar">
    <a href="soundcloud/liked_playlists">
      {{g 'heart'}} {{t 'sc.playlist_menus.liked'}}
    </a>
    <a href="#" class="active">
      {{g 'user'}} {{t 'sc.playlist_menus.yours'}}
    </a>
  </div>
{{/unless}}

<div class="clearer"></div>

{{#each user_playlists.collection}}
  {{soundcloud_playlist this}}
{{/each}}
