<a href="meta/index">
  {{g 'home'}}
</a>

<nav></nav>

<div class="right">
  <div class="search-form">
    {{g 'search'}}
    <input type="text" placeholder="{{t 'search'}}">
  </div>

  <a href="meta/configuration">
    {{g 'dashboard'}}
  </a>

  <a href="meta/downloads">
    {{g 'download'}}

    <div class="download_bar">
      <div class="progression"></div>
    </div>
  </a>
</div>
